.background-hover
	background-color the-hover
.background-copy
	background-color the-copy
.cat-content
	background-color the-content
.cat-influences
	background-color the-influences
.cat-job
	background-color #000
.cat-medias
	background-color the-medias
.cat-pr
	background-color the-pr
