.image-shift
	margin-bottom: 100px
	// max-width calc(100% - 100px)
	@media (min-width breakpoint-tablet)
		margin-bottom: 200px
	@media (min-width breakpoint-desktop)
		width 100%
	@media (min-width breakpoint-large)
		max-width site-width
	&.left
		.image-shift-caption
		.image-shift-link
			@media (min-width breakpoint-large)
				margin-left: calc(100% / 12 * 4)
		.image-shift-image
			@media (min-width breakpoint-large)
				margin-left: calc(100% / 12 * 1)
.image-shift-caption
.image-shift-link
	margin-left: auto
	margin-right: auto
	max-width 540px
	@media (min-width breakpoint-large)
		margin-left: calc(100% / 12 * 1)
.image-shift-image
	// box-shadow the-shadow
	display block
	margin-left: auto
	margin-right: auto
	margin-bottom: 50px
	transition-duration: .3s
	max-width 730px
	width 100%
	@media (min-width breakpoint-tablet)
		margin-bottom: 100px
	@media (min-width breakpoint-large)
		margin-left: calc(100% / 12 * 3)
		margin-right: 0
	&:hover
		transform scale(1.05)
	&:after
		display: none
.image-shift-link
	display block
	font-style: italic
	margin-top: 1em
	text-align: right
	text-decoration none

