.metadata-and-share
	display flex
	align-items: center
	flex-direction: column
	margin-bottom: 80px
	@media (min-width breakpoint-ipad)
		flex-direction: row
		justify-content: center
		flex-wrap: nowrap
	.single-post &
		margin-top: -50px

.metadata-and-share--job
	margin-top: -55px
	margin-bottom: 50px

.meta-category-link
	background-color the-hover
	color #fff
	font-weight: bold
	margin-bottom: .4em
	padding .3em 1.4em
	text-decoration none
	text-transform: uppercase
	@media (min-width breakpoint-ipad)
		margin-right: 1.6em
		margin-bottom: 0

.meta-share-icons
	display flex
	align-items: center

.meta-share-icon
	display block
	fill the-team-social
	width 24px
	height 24px

.meta-share-label
	font-weight bold
	margin-bottom: .4em
	text-transform: uppercase
	@media (min-width breakpoint-ipad)
		margin-right: 1em
		margin-bottom: 0

.meta-share-link
	margin-left: .4em
	margin-right: .4em
	@media (min-width breakpoint-ipad)
		margin-left: 1em
		margin-right: 0

.meta-time
	margin-bottom: .4em
	@media (min-width breakpoint-ipad)
		border-right 3px solid #000
		margin-bottom: 0
		margin-right 1.6em
		padding-right 1.6em

