.section-name-container
	// Don't make this position relative, it will break the JS
	@media (min-width breakpoint-ipad-landscape)
		width calc(100% - 80px)
		height 1px
	.page-services & // class added to body by detecting page id
		padding-top 50px
		@media (min-width breakpoint-ipad-landscape)
			padding-top 0

.section-name-absolute
	width 100%
	@media (min-width breakpoint-ipad-landscape)
		height 1px

.section-name
	font-size 25px
	font-weight bold
	line-height 1
	margin-bottom: 50px
	text-align: center
	text-transform: lowercase
	transform-origin: 100% 0
	@media (min-width breakpoint-tablet)
		font-size 40px
	@media (min-width breakpoint-ipad-landscape)
		margin-bottom: 0
		position absolute
		top 0
		right 0
		z-index 1
		text-align: left
		transform rotate(-90deg)
	&::before
	&::after
		content ' - '
	&.left
		transform-origin: 0 100%
		@media (min-width breakpoint-large)
			transform rotate(-90deg) translate(-100%,0)
		@media (min-width breakpoint-ipad-landscape)
			top auto
			bottom 0
			right auto
			left 0
			transform rotate(-90deg) translate(-100%,100%)
