site-width = 1110px

// BREAKPOINTS
breakpoint-android = 360px
breakpoint-iphone = 375px
breakpoint-iphone-plus = 414px
breakpoint-mobile = 480px
breakpoint-tablet = 600px
breakpoint-tablet-2 = 640px
breakpoint-ipad = 768px
breakpoint-desktop = 960px
breakpoint-ipad-landscape = 1024px
breakpoint-large = 1200px
breakpoint-air = 1400px
breakpoint-big = 1600px
breakpoint-hd = 1900px

breakpoint-navigation = 900px
breakpoint-site-width = site-width + 40px


// FONTS
font-default = 'Apercu', sans-serif
font-family = 'Apercu', sans-serif
font-magazine-heading = 'Libre Baskerville', serif
font-magazine-title = 'Frank Ruhl Libre', serif
font-line-height = 1.2
font-size = 20px
font-weight = 300
font-semibold = 600
font-bold = bold


// COLORS
// Basic colours
the-copy = #231f20
the-coral = #ff7062
the-footer-background = #0f0f0f
the-footer-copy = #fff
the-grey = #e8e8e8

// Brands
the-facebook = #3b5998
the-instagram = #c13584
the-linkedin = #0077b5
the-pinterest = #bd081c
the-spotify = #1db954
the-twitter = #1da1f2
the-youtube = #ff0000

// Category colours
the-card-top = #ff7062
the-content = #0088d9
the-influences = #fee25a
the-medias = #15ce45
the-pr = #febac5

the-beauty = #febac5
the-commerce = #de4848
the-divertissement =  #0088d9
the-grande-conso = #fee25a
the-mode = #15ce45
the-telecommunication = #ff9d3d

the-strategy = #0088d9
the-influence = #fee25a
the-production =  #febac5
the-advertising = #15ce45
the-international = #de4848
the-trends = #ff9d3d
the-conferences = #b06ef4


// Specific colours
the-breadcrumbs = #eaeaea
the-hover = #ff7062
the-link = inherit
the-link-underline = #ff7062
the-team-background = #f55c3c
the-team-social = #ccc


// OTHER VARIABLES
layer-header = 100
the-shadow = 10px 25px 100px rgba(0, 0, 0, 0.1)
the-shadow-hover = 10px 5px 50px rgba(0, 0, 0, 0.05)
