.centered-intro
	margin: 0 20px 100px
	@media (min-width breakpoint-tablet)
		margin-bottom: 200px
	@media (min-width breakpoint-ipad)
		margin-left auto
		margin-right: @margin-left
		max-width 650px
