.button
	background-color color-1
	border 2px solid color-1
	border-radius border-radius
	color #fff
	font-size 20px
	padding: .6em 1em
	text-decoration: none
	transition .3s
	&:hover
		background-color transparent
		color color-1
.form-duo
	display: block
	margin-bottom: 20px
.input-field
	border 2px solid color-1
	border-radius border-radius
	flex-grow: 1
	font-size 20px
	padding: .6em 1em
	width: 100%
.input-label
	display block
	font-family font-heading
	font-size (20/font-size)rem
.input-message
	height 100px
