.input-field
	border 1px solid the-grey
	border-radius 0
	flex-grow: 1
	font-size 20px
	font-weight 300
	padding: .6em 1em

.single-button-label
	width 25px
	height 25px
.single-field
	display flex
	align-items: center
	justify-content: space-between
.single-field-button
	background-color #fff
	border 0
	border-radius 50%
	box-shadow the-shadow
	display flex
	align-items: center
	justify-content: center
	flex-grow: 0
	flex-shrink: 0
	margin-left: -27px
	width 55px
	height 55px
