.burger
	cursor: pointer
	padding 20px 0 20px 20px
	@media (min-width breakpoint-navigation)
		display: none
	&::before
	&::after
	.burger-slice
		background-color #fff
		content ''
		display: block
		margin-bottom: 3px
		width 20px
		height 3px

.navigation-item
	margin-left: 20px
	margin-bottom: 1em;
	position relative
	&:hover
		li
			padding 8px 20px
		ul
			background-color #fff
			display: block;
			position absolute
			top: 100%;
			left 0
	&:last-child
		margin-bottom: 0
	> ul
		display: none

.site-header
	background-color #444446
	padding 20px
	@media (min-width breakpoint-navigation)
		display: flex;
		align-items: center;
		justify-content: space-between

.site-logo
	height 40px

.site-navigation
	> ul
		display: flex;
	a
		text-decoration: none
	ul
		list-style: none;
