.burger
	cursor: pointer
	padding 20px 0 20px 20px
	position: relative
	z-index: layer-navigation + 1
	@media (min-width breakpoint-navigation)
		display: none
	&::before
	&::after
	.burger-slice
		background-color #fff
		border-radius: border-radius
		content ''
		display: block
		margin-bottom: 3px
		transition-duration: .3s
		width 20px
		height 3px

.logo-link
	display: block

.site-header
	// background-color #444446
	background-image linear-gradient(to bottom, rgba(0,0,0,.7) 50%, rgba(0,0,0,0));
	padding 20px
	position fixed
	top 0
	left 0
	z-index: layer-navigation
	transition-duration: .3s
	width 100%
	@media (min-width: breakpoint-ipad)
		padding 40px 20px
	.container
		display: flex;
		align-items: center;
		justify-content: space-between
		position: relative
	.scrolled &
		padding: 20px

.site-logo
	height 40px
	@media (min-width: breakpoint-ipad)
		position: absolute
		top 0
		left 0
		transition-duration: .3s;
		height: 100px
	.scrolled &
		top 0
		height 40px

.site-logo-background
	position absolute
	top: -25px
	left: 0;
	width 100px;
	height 100px;
	@media (min-width: breakpoint-navigation)
		top: -75px
		left: -50px;
		transition-duration: .3s;
		width 250px;
		height 250px;
	.scrolled &
		opacity: 0;
