.navigation-link
	color: #fff
	line-height: 1
	position: relative
	transition-duration: .3s
	@media (min-width breakpoint-navigation)
		margin-left: 20px;
	&:after
		background-color color-1
		content ''
		display: block
		position absolute
		top calc(100% + 10px)
		left 0
		transform-origin 0 center
		transform scale(0)
		transition-duration: .3s
		width 100%
		height 2px
	&:hover
		color color-1
		&:after
			transform: scale(1)

.site-navigation
	background-color #000
	display: flex
	align-items: center
	justify-content: space-around
	flex-direction: column
	font-size: 2em
	opacity: 0
	position: fixed
	top 0
	left 0
	z-index: layer-navigation
	transform translateY(-100%)
	transition-duration: .3s
	width 100vw
	height 100vh
	@media (min-width: breakpoint-ipad)
		background-color transparent
		flex-direction: row
		font-size: 1rem;
		opacity: 1
		position static
		transform translateY(0)
		width auto
		height auto
	> ul
		display: flex;
	a
		text-decoration: none
	ul
		list-style: none;

.navigation-lata
	.burger
		&:before
			transform rotate(45deg)
		&:after
			transform translate(0, -6px) rotate(-45deg)
	.burger-slice
		display: none
	.site-navigation
		opacity: 1
		transform translateY(0)
