.prochaine-etape
	display: flex
	align-items center
	margin-left 50%
	margin-bottom: 200px
	position relative
	text-decoration none
	width 50%
	height 150px
	&:hover
		.prochaine-etape-block
			transform: scaleX(1.2)

.prochaine-etape-block
	position absolute
	top 0
	right 0
	z-index -1
	transform-origin: right center
	transition-duration: .3s
	width 100%
	height 100%

.prochaine-etape-link
	display: inline-block
	font-size 32px
	// font-style: italic
	font-weight 300
	line-height 1
	margin-left: -50%;
	padding-right: 20px
	// position absolute
	// bottom -23px
	// left -100px
	text-decoration none
	@media (min-width breakpoint-tablet)
		font-size 60px
	@media (min-width breakpoint-desktop)
		padding-right: 100px;
