.content-block-heading
	text-transform: uppercase

.main-column
	@media (min-width: breakpoint-ipad)
		padding-left 100px

.page-section
	padding-top: 100px
	padding-bottom 100px

.page-section--sidebar
	.container
		display: grid
		@media (min-width: breakpoint-ipad)
			grid-template-columns: 160px 1fr;
		@media (min-width: breakpoint-desktop)
			grid-template-columns: 300px 1fr;

.page-section-collaborators
	img
		margin-bottom: 20px
		width 200px
	.container
		display: flex
		align-items: center
		justify-content: space-around
		flex-wrap: wrap

.page-section-media-image
	background-attachment: fixed
	background-position center
	background-repeat no-repeat
	background-size cover
	min-height: 500px

.section-title
	@extend .container
	// color #fff
	font-size 3rem
	margin-bottom: 1em
	text-align: center
	text-transform: uppercase
	width: 100%;

.site-main
	> *
		color #fff
		&:nth-child(2n)
			background-color #fff
			color #000
			a
				&:hover
					color #000
					path
						fill #000
