.small-text-block
	margin 0 auto 200px
	max-width 450px
	@media (min-width breakpoint-ipad-landscape)
		margin-left calc(100% / 12 * 2)
	&.right
		@media (min-width breakpoint-ipad-landscape)
			margin-left auto
			margin-right calc(100% / 12 * 2)
