.social-item-link
	display: flex
	align-items: center
	padding-top: 10px
	padding-bottom: 10px
	text-decoration: none
	transition-duration: .3s
.social-item-media
	display: flex
	align-items: center
	justify-content: center
	margin-right: 10px
	width 30px
	height 30px
	svg
		width 30px
		height 30px
	path
		fill color-1
		transition-duration: .3s
.social-links
	display: grid
	grid-template-columns repeat(2, 1fr)
	list-style: none
	@media (min-width: breakpoint-ipad)
		grid-template-columns 1fr
