.twitter-tweet
	position relative
	// overflow: hidden
	word-break: break-word
	&:before
		color #ddd
		content '“'
		font-size: 10em
		line-height: 1
		position absolute
		top -40px
		left 0
		transform translateX(-100%)
