site-width = 1110px

// BREAKPOINTS
breakpoint-android = 360px
breakpoint-iphone = 375px
breakpoint-iphone-plus = 414px
breakpoint-mobile = 480px
breakpoint-tablet = 600px
breakpoint-tablet-2 = 640px
breakpoint-ipad = 768px
breakpoint-desktop = 960px
breakpoint-ipad-landscape = 1024px
breakpoint-large = 1200px
breakpoint-air = 1400px
breakpoint-big = 1600px
breakpoint-hd = 1900px

breakpoint-navigation = 768px
breakpoint-site-width = site-width + 40px


// FONTS
font-default = 'Roboto', sans-serif
font-family = 'Roboto', sans-serif
font-heading = 'Dosis', sans-serif
font-line-height = 1.2
font-size = 16px
font-weight = 400
font-semibold = 500
font-bold = bold


// COLORS
// Basic colours
color-1 = #2e9dbb
color-2 = #bd0e3d

// Brands
color-facebook = #3b5998
color-instagram = #c13584
color-linkedin = #0077b5
color-pinterest = #bd081c
color-spotify = #1db954
color-twitter = #1da1f2
color-youtube = #ff0000

// Site colours
color-button = color-2
color-copy = #ddd
color-footer-background = #000
color-footer-copy = #fff
color-hover = color-1
color-link = color-1
color-link-underline = color-1


// OTHER VARIABLES
border-radius = 5px
layer-header = 100
layer-navigation = 11
the-shadow = 10px 25px 100px rgba(0, 0, 0, 0.1)
the-shadow-hover = 10px 5px 50px rgba(0, 0, 0, 0.05)
