// BASE
@import 'partials/variables.styl'
// @import 'partials/mixins.styl'
// @import 'partials/fonts.styl'
@import 'partials/base.styl'

// LAYOUT
@import 'partials/layout.styl'

// MODULES
// @import 'partials/components.styl'
// @import 'partials/animations.styl'
// @import 'partials/author.styl'
// @import 'partials/big-number.styl'
// @import 'partials/breadcrumb.styl'
@import 'partials/cards.styl'
// @import 'partials/centered-intro.styl'
// @import 'partials/filter-navigation.styl'
@import 'partials/footer.styl'
@import 'partials/forms.styl'
@import 'partials/header.styl'
// @import 'partials/headings.styl'
// @import 'partials/image-full-width.styl'
// @import 'partials/image-gallery-pattern.styl'
// @import 'partials/image-shift.styl'
// @import 'partials/image-side.styl'
// @import 'partials/image-team.styl'
// @import 'partials/image-with-caption.styl'
// @import 'partials/listing-band.styl'
// @import 'partials/listing-team.styl'
// @import 'partials/locations.styl'
// @import 'partials/magazine.styl'
// @import 'partials/metadata-and-share.styl'
// @import 'partials/prochaine-etape.styl'
// @import 'partials/section-name.styl'
@import 'partials/site.styl'
// @import 'partials/small-text-block.styl'
// @import 'partials/social.styl'
// @import 'partials/talent.styl'
// @import 'partials/ticker.styl'
// @import 'partials/twitter-tweet.styl'
// @import 'partials/typography.styl'

// @import 'partials/helpers.styl'

// stylus -u autoprefixer-stylus -c -w style.styl
